<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.t_robop.y_ogawara.tancolle">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/tancole_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".Notifier"
            android:process=":remote">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".UserRegisterActivity"
            android:label="@string/app_name" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".UserDetailActivity" />
        <activity android:name=".ReUserDetailActivity" />
        <activity android:name=".GestureDecActivity" />
        <activity android:name=".AlarmActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ViewFlipperTestActivity" />
        <activity android:name=".SettingCategoryActivity" />
        <activity android:name=".SettingDrawActivity" />
        <activity android:name=".LicenseActivity" />

        <receiver android:name=".WidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider" />
        </receiver>

        <activity android:name=".ReUserRegisterActivity"></activity>
    </application>

</manifest>